@font-face {
  font-family: OldLondon;
  src: url(./OldLondon.ttf);
}
:root {
  touch-action: pan-x pan-y;
  height: 100%;
}
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
  background-color: black;
  color: white;
  font-size: 3.5vh;
  cursor: crosshair;
}
#mainMenuWrapper,
#gameplayWrapper {
  width: 100%;
  height: 100%;
}
#logo {
  position: absolute;
  font-size: 400%;
  color: #ffac20;
  text-align: center;
  width: 100%;
  top: 4vh;
}
#startButton {
  position: absolute;
  width: 27.1%;
  top: 79.4%;
  left: 36.2%;
  font-family: OldLondon;
  font-size: 6vh;
  text-align: center;
  padding-top: 0.3vh;
  padding-bottom: 1.4vh;
  border: white solid 0.4vh;
  outline: white solid 0.4vh;
  outline-offset: -1.3vh;
}
#startButton:hover {
  border-color: #f8ecb3;
  outline-color: #f8ecb3;
}
#selectWrapper {
  position: relative;
  display: flex;
  width: 20%;
  height: max-content;
  margin: auto;
  top: 26vh;
}
#selectButton {
  width: 2vw;
  height: 5vh;
}
#select {
  text-align: center;
  font-size: 90%;
  width: 100%;
  height: min-content;
  margin: auto;
}
#selectHint {
  position: relative;
  text-align: center;
  width: max-content;
  margin: auto;
  margin-top: 4vh;
  top: 24vh;
}
#player {
  position: absolute;
  width: 9%;
  height: 23%;
  left: 45.5%;
  top: 54%;
}
#body {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#hat {
  position: absolute;
  width: 100%;
  height: 95%;
  margin-top: -3%;
  z-index: 11;
}
#staff {
  position: relative;
  height: 100%;
  top: 6%;
  z-index: 12;
  transform: rotate(30deg);
}
#gameplayWrapper #staff {
  top: -16%;
  transform-origin: center 75%;
}
#borderLeft,
#borderRight {
  position: absolute;
  border-right: solid 0.4vh;
  border-image: linear-gradient(to bottom, white, black) 1;
  width: 2.2%;
  height: 80%;
  top: 0;
}
#borderRight {
  border-right: none;
  border-left: solid 0.4vh;
  left: 97.4%;
}
#floor {
  position: absolute;
  border-top: white solid 0.6vh;
  width: 94.8%;
  left: 2.6%;
  top: 85%;
}
#healthBar {
  position: absolute;
  width: 20.8%;
  height: 1.5%;
  border: #291515 solid 0.4vh;
  margin-left: 5.2%;
  margin-top: 0.6%;
}
#healthBarInside {
  position: relative;
  width: 100%;
  height: 70%;
  background-color: #db362c;
  top: 15%;
  border-radius: 2pt;
}
#healthCounter {
  position: absolute;
  font-size: 4vh;
  left: 5.7%;
}
#scoreCounter {
  font-size: 4vh;
  text-align: right;
  margin-top: 1.8%;
  margin-right: 4.5%;
}
